{% extends 'iamheadless_publisher_site_homepages/base.html' %}

{% load iamheadless_publisher_site_tags %}
{% load iamheadless_translate_tags %}

{% block content %}

    {% translation_for 'enter keyword' language as TEXT_ENTER_KEYWORD %}
    {% translation_for 'next' language as TEXT_NEXT %}
    {% translation_for 'no results found' language as TEXT_NO_RESULTS_FOUND %}
    {% translation_for 'of' language as TEXT_OF %}
    {% translation_for 'page' language as TEXT_PAGE %}
    {% translation_for 'previous' language as TEXT_PREVIOUS %}
    {% translation_for 'results found' language as TEXT_RESULTS_FOUND %}
    {% translation_for 'search' language as TEXT_SEARCH %}

    <h1>
        {{ page.title|capfirst }}<br />
        <small>{{ TEXT_RESULTS_FOUND|capfirst }}: {{ total }}</small>
    </h1>

    <form action="{{ request.path }}" method="GET">
        <label for="search_keyword">{{ TEXT_ENTER_KEYWORD|capfirst }}</label>
        <input type="text" name="q" id="search_keyword" value="{{ request.GET.q|default:'' }}" />
        <button>{{ TEXT_SEARCH|capfirst }}</button>
    </form>

    <h2>
        {{ TEXT_PAGE|capfirst }} {{ current_page }} {{ TEXT_OF }} {{ total_pages }}
    </h2>

    {% if results|length != 0 %}
        <ul role="list">
            {% for result in results %}
                <li>
                    <a href="{{ result|pydantic_model_url:language }}">{{ result|pydantic_model_content:language }}</a><br />
                    <p>
                        {% translation_for result|pydantic_model_value:'_item_type' language as TEXT_ITEM_TYPE %}
                        {{ TEXT_ITEM_TYPE|capfirst }},
                        {{ result.created_at|date:'d/m/Y' }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ TEXT_NO_RESULTS_FOUND|capfirst }}</p>
    {% endif %}

    {% if previous_url is not None or next_url is not None %}
        <ul>
            <li {% if previous_url is None %}class="disabled"{% endif %}><a href="{{ previous_url|default_if_none:'#' }}">{{ TEXT_PREVIOUS|capfirst }}</a></li>
            <li {% if next_url is None %}class="disabled"{% endif %}><a href="{{ next_url|default_if_none:'#' }}">{{ TEXT_NEXT|capfirst }}</a></li>
        </ul>
    {% endif %}

{% endblock %}
